<p><%= notice %></p>
<%= link_to '投稿する', new_article_path %>
<% @articles.each do |article| %>
  <table>
    <tr>
      <td><%= article.description %></td>
      <td><%= image_tag article.picture.thumb.url %></td>
      <td><%= link_to '詳細を確認する', article_path(article.id) %></td>
      <td><%= link_to "投稿を編集する", edit_article_path(article.id) %></td>
      <td><%= link_to '投稿を削除する', article_path(article.id), method: :delete, data: { confirm: '削除しますか？'} %></li>
    </tr>
  </table>
<% end %>
