<!DOCTYPE html>
<html>
  <head>
    <title>Cycler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'マイページ', user_path(current_user.id) %>
      <%= link_to 'ログアウト', session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？'}  %>
      <%= link_to '新規投稿', new_article_path %>
      <%= link_to  '記事一覧', articles_path %>
      <%= link_to 'ユーザー一覧', users_path %>
      <%= link_to '管理者ページ', admin_users_path if current_user.admin %>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
